<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Private</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">

<nav>
    <form id="logout-form" action='/logout' method="get">
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Log Out</button>
        </div>
    </form>
</nav>
</head>

<body>
<main class="container">
    <div class="row">
        <div class="col-sm-6">
            {{{body}}}
        </div>
    </div>
    <footer>
        <p>Team Amenable and Friendly | Fall 2018</p>
    </footer>
</main>
</body>

</html>