<div class="row">
    <div class="col-sm-12">
        <h1>Add playlist</h1>

         <form id="addplaylist-form" action="/addplaylist" method="post">
            <div class="form-group">
                <label for="username">Playlist Name:</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter the playlist name.">
            </div>

            <div class="form-group">
                <button type="submit">Add</button>
            </div>
        </form>
    </div>
</div>


