<div class="row">
    <div class="col-sm-12">
        <h1>Create Song</h1>

         <form id="createsong-form" action="/createSong" method="post">
            <div class="form-group">
                <label for="username">Song Title:</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Enter the song title." value="{{song.name}}">
                <label for="username">Song Artist:</label>
                <input type="text" class="form-control" id="artist" name="artist" placeholder="Enter the song artist." value="{{song.artist}}">
                <label for="username">Song Album:</label>
                <input type="text" class="form-control" id="album" name="album" placeholder="Enter the song album." value="{{song.album}}">
                <br>
                <label for="username">Genre 1:</label>
                <select name="genre1" value="Choose">
                    <option value="Choose">Choose</option>
                    <option value="Alternative">Alternative</option>
                    <option value="Pop">Pop</option>
                    <option value="Metal">Metal</option>
                    <option value="Rap">Rap</option>
                    <option value="Rock">Rock</option>
                    <option value="Classical">Classical</option>
                </select>
                <br>
                <label for="username">Genre 2:</label>
                <select name="genre2" value="Choose">
                    <option value="Choose">Choose</option>
                    <option value="Alternative">Alternative</option>
                    <option value="Pop">Pop</option>
                    <option value="Metal">Metal</option>
                    <option value="Rap">Rap</option>
                    <option value="Rock">Rock</option>
                    <option value="Classical">Classical</option>
                </select>
                <br>
                <label for="username">Rating:</label>
                <select name="rating" value="1">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>

            <div class="form-group">
                <button type="submit">Add</button>
            </div>
            {{#if error}}
                <div class="error">
                    <p>Error: {{error}}</p>
                </div>
            {{/if}}
        </form>
    </div>
</div>


