<div class="row">
    <div class="col-sm-12">
        <form id="static-form" action='/logout' method="post">
            <div class="form-group">
                <button type="submit">Log Out</button>
            </div>
        </form>
    </div>
</div>